.socials {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  position: absolute;
  left: 50%;
  bottom: 20px;
  transform: translateX(-50%);
}

.social {
  margin: 0 10px;
  transition: 0.5s all;
}

.social:hover {
  cursor: pointer;
  transform: translateY(-5px);
}
.social img {
  height: 45px;
  width: 45px;
  object-fit: contain;
}
